[Global]
version=3.22.16
instance=@INSTANCE_ID@

[Settings]
accountId=1
singleMode=1
audioCodecs=PCMU/8000/1
VAD=0
EC=1
forceCodec=1
sourcePort=@SOURCE_PORT@
rtpPortMin=@RTP_PORT_MIN@
rtpPortMax=@RTP_PORT_MAX@
enableLog=1
autoAnswer=button
autoAnswerDelay=0
bringToFrontOnIncoming=1
networkChanges=1
updatesInterval=never

[Account1]
label=@DISPLAY_NAME@
server=@PBX_HOST@:5060
proxy=
domain=@PBX_HOST@
username=@EXTENSION@
password=Workshop-2026!
authID=@EXTENSION@
displayName=@DISPLAY_NAME@
transport=udp
STUN=
publicAddr=
SRTP=
publish=0
ICE=0
allowRewrite=1
